POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=

S3_BUCKET_STG=
S3_BUCKET_PRD=
S3_BUCKET_ASSETS=

CF_DISTRIBUTION_USER_STG=
CF_DISTRIBUTION_USER_PRD=
CF_DISTRIBUTION_ADMIN_STG=
CF_DISTRIBUTION_ADMIN_PRD=

COGNITO_USER_POOL_ID=
COGNITO_CLIENT_ID=