AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=eu-west-3

# S3 Buckets
S3_BUCKET_STG=
S3_BUCKET_PRD=

# CloudFront distribution IDs
CF_DISTRIBUTION_USER_STG=
CF_DISTRIBUTION_USER_PRD=
CF_DISTRIBUTION_ADMIN_STG=
CF_DISTRIBUTION_ADMIN_PRD=
